/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}



  
  


  
/* WRITE YOUR CODE BELOW HERE */
/* MSSV: 20520510 - DANG THAI HOA*/

@font-face {
  font-family: "headingfont";
  src: url("JosefinSlab-Regular.ttf");
}
@font-face {
  font-family: "bodyfont";
  src: url("Lovato-Regular.otf");
}

body {
  font-family: "bodyfont", serif;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "headingfont", sans-serif;
  letter-spacing: 0.1rem;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

section h2 + p {
  text-indent: 20px;
}

p {
  font-size: 2rem;
}

a:link {
  color: rgb(166,100,100);
}

a:visited {
  color: rgb(166,100,100);
}

a:hover {
  color: rgb(166,100,100);
}

a:hover, a:focus {
  text-decoration: none;
}

a:focus {
  color: rgb(166,100,100);
  outline: none;
}

a:active {
  text-shadow:0px 0px 10px red;
  color: red;
}

h2 + p>a {
  background: url('external-link-52.png') no-repeat right;
  background-size: 2rem;
  padding-right: 2.5rem;
}

ul {
  font-size: 2rem;
  list-style-type: square;
  line-height: 1.5;
  padding: 1.5;
}

ol {
  font-size: 2rem;
  list-style-type: lower-alpha;
  line-height: 1.5;
  padding: 1.5;
}

nav>ul {
  list-style-type: none;
}

nav>ul>li {
  margin: 2rem 0rem 2rem -5rem;
  background-color: white;
  border: solid rgb(166,100,100);
}

nav>ul>li a {
  color: rgb(166,100,100);
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 2.5rem ;
  font-size: 3rem;
}

nav>ul>li a:hover {
  background-color: rgb(166,100,100);
  color: white;
}
